<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
  </head>
  <body>
    <h1>Hellow!, I am kiran Mithapara</h1>
    <h2>sum of 10 + 20 = <%= 10 + 20 %></h2>
    <h2><%= "kiran mithapara".toUpperCase() %></h2>
    <p><%= ["kiran","lalit","vishal"][2] %></p>
  </body>
</html>
